<div class="m-tickets-instantly">
    <h4>Book tickets instantly</h4>
    <div class="m-select-movie">
        <select class="list_of_movies"><option value="">Select Movie</option><optgroup label="Location1"><option style="padding-left: 10px;" value="ANAN">Movie1</option></optgroup></select>
    </div>
    <div class="m-select-date">
        <select class="list_of_movies"><option value="">Select Date</option><option style="padding-left: 10px;" value="ANAN">Today, 18 jun</option></select>
    </div>
    <div class="clearfix"></div>
</div>
<div class="now-showing-list">
    <div class="col-md-4 movies-by-category movie-booking">
        <div class="movie-ticket-book">
            <img src="images/r3.jpg" alt="" />
            <div class="bahubali-details">
                <h4>Release Date:</h4>
                <p>DB info</p>
                <h4>Duration:</h4>
                <p>DB info</p>
                <h4>Director:</h4>
                <p>DB info</p>
                <h4>Language:</h4>
                <p>DB info</p>
                <h4>Genre:</h4>
                <p>DB info</p>
                <h4>Cast & Crew:</h4>
                <p>DB info</p>
            </div>
        </div>
    </div>
    <div class="col-md-8 movies-dates">
        <div class="movie-date-selection">
            <ul>
                <li class="location">
                    <a href="pic-a-movie.html"><i class="fa fa-map-marker"></i>Theater Name: Location</a>
                </li>
                <li class="time">
                    <a asp-area="" asp-controller="Payment" asp-action="Index">11:00 AM</a>
                </li>
                <li class="time">
                    <a asp-area="" asp-controller="Payment" asp-action="Index">3:00 PM</a>
                </li>
                <li class="time">
                    <a asp-area="" asp-controller="Payment" asp-action="Index">6:20 PM</a>
                </li>
                <li class="time">
                    <a asp-area="" asp-controller="Payment" asp-action="Index">9:00 PM</a>
                </li>
            </ul>
        </div>
        <div class="movie-date-selection">
            <ul>
                <li class="location">
                    <a href="pic-a-movie.html"><i class="fa fa-map-marker"></i>Theater Name: Location</a>
                </li>
                <li class="time">
                    <a asp-area="" asp-controller="Payment" asp-action="Index">11:00 AM</a>
                </li>
                <li class="time">
                    <a asp-area="" asp-controller="Payment" asp-action="Index">3:00 PM</a>
                </li>
                <li class="time">
                    <a asp-area="" asp-controller="Payment" asp-action="Index">6:20 PM</a>
                </li>
                <li class="time">
                    <a asp-area="" asp-controller="Payment" asp-action="Index">9:00 PM</a>
                </li>
            </ul>
        </div>
        <div class="movie-date-selection">
            <ul>
                <li class="location">
                    <a href="pic-a-movie.html"><i class="fa fa-map-marker"></i>Theater Name: Location</a>
                </li>
                <li class="time">
                    <a asp-area="" asp-controller="Payment" asp-action="Index">11:00 AM</a>
                </li>
                <li class="time">
                    <a asp-area="" asp-controller="Payment" asp-action="Index">3:00 PM</a>
                </li>
                <li class="time">
                    <a asp-area="" asp-controller="Payment" asp-action="Index">6:20 PM</a>
                </li>
                <li class="time">
                    <a asp-area="" asp-controller="Payment" asp-action="Index">9:00 PM</a>
                </li>
            </ul>
        </div>
        <div class="movie-date-selection">
            <ul>
                <li class="location">
                    <a href="pic-a-movie.html"><i class="fa fa-map-marker"></i>Theater Name: Location</a>
                </li>
                <li class="time">
                    <a asp-area="" asp-controller="Payment" asp-action="Index">11:00 AM</a>
                </li>
                <li class="time">
                    <a asp-area="" asp-controller="Payment" asp-action="Index">3:00 PM</a>
                </li>
                <li class="time">
                    <a asp-area="" asp-controller="Payment" asp-action="Index">6:20 PM</a>
                </li>
                <li class="time">
                    <a asp-area="" asp-controller="Payment" asp-action="Index">9:00 PM</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
