@model CinemaManager.Models.ViewModels.ViewModel
<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("_Head") 
<body>
    <div class="container">
        <div class="main-content">
            <!--Header with logo and search container-->
            @await Html.PartialAsync("_Header")
            <div class="header">
                <div class="logo">
                    <a asp-area="" asp-controller="" asp-action="Index">
                        <h1>	Cinema Galaxy	</h1>
                    </a>
                </div>
                <div class="search">
                    <div class="search2">
                        <form>
                            <i class="fa fa-search"></i>
                            <input type="text" value="Search for a movie" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search for a movie';}" />
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!--Bootstrap container with mega-menu-->
            <div class="bootstrap_container">
                @await Html.PartialAsync("_MegaBar")
            </div>
            <!--Index-->
            @RenderBody()
        </div>
        <!--Footer-->
        @await Html.PartialAsync("_Footer") 
    </div>
    <a href="#home" class="scroll" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"></span>
    </a>

    @RenderSection("Scripts", required: false)
</body>>
</html>
