<nav class="navbar navbar-default w3_megamenu" role="navigation">
    <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a asp-area="" asp-controller="" asp-action="Index" class="navbar-brand">
            <i class="fa fa-home"></i>
        </a>
    </div>
    <!-- end navbar-header -->
    <div id="defaultmenu" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active">
                <a asp-area="" asp-controller="" asp-action="Index">	Home	</a>
            </li>
            <!-- Movies Menu -->
            <li class="dropdown w3_megamenu-fw">
                <a href="movies.html" data-toggle="dropdown" class="dropdown-toggle">
                    Movies
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu fullwidth">
                    <li class="w3_megamenu-content">
                        <div class="row">
                            <!-- Col 1 from Movies -->
                            <div class="col-sm-4">
                                <h3 class="title">	Now Showing	</h3>
                                <ul class="mov_list">
                                    <li>
                                        <a href="movie-single.html">	Joker (3D)	</a>
                                    </li>
                                </ul>
                                <ul class="mov_list">
                                    <li>
                                        <a href="movie-single.html">	Parasite (3D)	</a>
                                    </li>
                                </ul>
                                <ul class="mov_list">
                                    <li>
                                        <a href="movie-single.html">	Knives Out (3D)	</a>
                                    </li>
                                </ul>
                                <ul class="mov_list">
                                    <li>
                                        <a href="movie-single.html">	Ford v Ferrari	</a>
                                    </li>
                                </ul>
                                <ul class="mov_list">
                                    <li>
                                        <a href="movie-single.html">	Forrest Gump	</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Col 2 from Movies -->
                            <div class="col-sm-4 movie-dd">
                                <h3 class="title">	Next Change	</h3>
                                <p>
                                    <a href="movie-single.html">	Terminator: Genesys 	</a>
                                    <span>... (Tomorrow, 25 March)	</span>
                                </p>
                                <p>
                                    <a href="movie-single.html">	The Vatican Tapes 	</a>
                                    <span>... (Tomorrow, 25 March)	</span>
                                </p>
                                <p>
                                    <a href="movie-single.html">	TED (3D) (4DX)	</a>
                                    <span>... (Tomorrow, 25 March)	</span>
                                </p>
                                <p>
                                    <a href="movie-single.html">	Iron Man 4 	</a>
                                    <span>... (Tomorrow, 25 March)	</span>
                                </p>
                                <p>
                                    <a href="movie-single.html">	Inside Out 	</a>
                                    <span>... (Tomorrow, 25 March)	</span>
                                </p>
                            </div>
                            <!-- Col 3 from Movies -->
                            <div class="col-sm-4 movie-dd">
                                <h3 class="title">	Comming Soon	</h3>
                                <p>
                                    <a href="movie-single.html">	Interstellar	</a>
                                    <span>... (29 March)	</span>
                                </p>
                                <p>
                                    <a href="movie-single.html">	The Outsider	</a>
                                    <span>... (29 March)	</span>
                                </p>
                                <p>
                                    <a href="movie-single.html">	The Irishman	</a>
                                    <span>... (29 March)	</span>
                                </p>
                                <p>
                                    <a href="movie-single.html">	Inception	</a>
                                    <span>... (29 March)	</span>
                                </p>
                                <p>
                                    <a href="movie-single.html">	Batman: Dark Knight	</a>
                                    <span>... (29 March)	</span>
                                </p>
                            </div>
                            <!-- Col 4 from Movies -->
                            <div class="clearfix"></div>
                            <div class="menu-featured-movies">
                                <h3 class="title">	Featured Trailers	</h3>
                                <div class="col-md-2 menu-featured-movies-img">
                                    <a href="movie-single.html">
                                        <img src="images/pic-4.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="col-md-2 menu-featured-movies-img">
                                    <a href="movie-single.html">
                                        <img src="images/pic-5.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="col-md-2 menu-featured-movies-img">
                                    <a href="movie-single.html">
                                        <img src="images/pic-8.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="col-md-2 menu-featured-movies-img">
                                    <a href="movie-single.html">
                                        <img src="images/pic-9.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="col-md-2 menu-featured-movies-img">
                                    <a href="movie-single.html">
                                        <img src="images/pic-12.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="col-md-2 menu-featured-movies-img">
                                    <a href="movie-single.html">
                                        <img src="images/pic-10.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <!-- end row -->
                        <hr>
                    </li>
                </ul>
            </li>
            <!-- Contact Us Button-->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        Feedback
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <form id="contact1" action="#" name="contactform" method="post">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <input type="text" name="name" id="name1" class="form-control" placeholder="Name">
                                    <input type="text" name="email" id="email1" class="form-control" placeholder="Email">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <input type="text" name="phone" id="phone1" class="form-control" placeholder="Phone">
                                    <input type="text" name="subject" id="subject1" class="form-control" placeholder="Subject">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <textarea class="form-control" name="comments" id="comments1" rows="6" placeholder="Your Message ..."></textarea>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="pull-right">
                                        <input type="submit" value="SEND" id="submit1" class="btn btn-primary small">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </ul>
    </div>
</nav>